body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(238, 238, 238);
  font-size: 130%;
}
header{
  display: grid;
  margin: 0;
  padding: 20px 10px 10px 10px;
  grid-template-columns: auto auto;
  justify-content: normal;
  align-items: flex-end;
  row-gap: normal;
  background-color: #ECD06F;
}
nav {
  display: flex;
  margin: 5px 5%;
  justify-self: center;
}
main{
  margin-top: 10px;
  background-color: #fdebaa;
  font-size: 19px;
}
footer{
  margin-top: 10px;
  background-color: coral;
}
ul{
  display: flex;
  padding: 0;
  margin: 0;
  gap: clamp(15px, 20vw, 1000px);
}
li{
  margin: 0;
  display: inline;
}
li>a{
  margin: 0 5px;
  border-bottom: 1px solid rgb(0, 0, 0);
}
a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 500;
}
h1{
  grid-column: 1 / 3;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #383838;
  margin: 30px auto 0px auto;
}
p{
  margin: 10px 8px;
  line-height: 1.6;
}

p>a{
  text-decoration: underline;
}

.header-image{
  margin: 0 auto;
  width: 70px;
  border-radius: 5px;
}

.image-gallery{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  width: 80%;
  justify-content: space-around;
  margin: 10px auto;
}
.image-gallery img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.image-album{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px auto;
}
#skip-link {
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
}